<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexbbb.uploadservice"
    android:versionCode="5"
    android:versionName="1.3" >
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true" >
        
        <service
            android:name=".UploadService"
            android:enabled="true"
            android:exported="true" >
        </service>
    
    </application>

</manifest>
