<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gotev.uploadservice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>

        <service
            android:name=".UploadService"
            android:enabled="true"
            android:exported="false" >
        </service>

    </application>

</manifest>
