<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexbbb.uploadservice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <service
            android:name=".UploadService"
            android:enabled="true"
            android:exported="true" >
        </service>

    </application>

</manifest>
